<div id="gridPanel">
  <table id="enemyGrid" class="bs-grid" data-ng-controller="EnemyGridController"></table>
  <div data-ng-controller="PlayerGridController" class="inline-block">
    <table id="playerGrid" class="bs-grid" droppable dropper="dropper" drop="handleDrop"></table>
  </div>
  <ul id="boatList" data-ng-controller="BoatListController">
    <li ng-repeat="boat in boats"
      id="[['boat_'+boat.type]]"
      ng-bind="global.lang.boats[boat.type] + ': ' + boat.size"
      draggable>
    </li>
  </ul>
</div>
