<div id="gridPanel">
  <div class="inline-block">
    <div id="divEnemyGrid" data-ng-controller="EnemyGridController" class="inline-block">
      <table id="enemyGrid" class="bs-grid" ></table>
    </div>
    
    <div id="divPlayerGrid" data-ng-controller="PlayerGridController" class="inline-block">
      <table id="playerGrid" class="bs-grid"></table>
    </div>
    
    <div class="centered">
      <button type="button" ng-click="">READY</button>
    </div>
  </div>  
    
  <div data-ng-controller="BoatListController" class="inline-block-top">
    <div class="clickable centered" ng-click="reset();">
      <img src="/img/icons/reset.png"/>
      Reset
    </div>
    <br/>
    <ul id="boatList">
      <li ng-repeat="boat in boats" id="[['boat_'+boat.type]]">
        <img src="/img/icons/rotate.png" title="rotate"
             class="clickable" ng-click="rotateBoat('canvas_boat_'+boat.type);"/>
        <canvas id="[['canvas_boat_'+boat.type]]"
                class="draggable"
                boat-size="[[boat.size]]"
                boat-direction="horizontal"
                init-boat-canvas
                draggable/>
      </li>
    </ul>
  </div>
</div>
