#title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: white;
    height: 44px;
}

#scorePanel {
    float: left;
    position: absolute;
    top: 200px;
    left: 100px;
    width: 200px;
}

#gridPanel {
    position: absolute;
    padding-left: 150px;
}

#gridPanel > table {
    display: inline-block;
}

ul#boatList {
    display: inline-block;
    list-style-type: none;
}

/************************ class: bs-grid ************************/
table.bs-grid {
    margin: auto auto;
    border-collapse: collapse;
}

table.bs-grid td {
    width: 40px;
    height: 40px;
}

table.bs-grid,
table.bs-grid td,
table.bs-grid th {
    border: 1px solid black;
}

table.bs-grid th {
    background-color: #7C1E79;
    color: white;
    text-align: center;
}

table.bs-grid td.isBoat {
    background-color: silver;
}

table.bs-grid td.isBombed {
    background: url("../img/white.png") no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

table.bs-grid td.isBoat.isBombed {
    background: silver url("../img/red.png") no-repeat;
    background-size: 20px 20px;
    background-position: center;
}
/****************************************************************/
